.list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 800px;
}
.small-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.medium-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.app-logo {
  height: 25px;
  margin-left: 20px;
  margin-right: 10px;
}
.button-style {
  background-color: white;
  outline: none;
  border: 0px none white;
}
.button-image {
  height: 25px;
}
